* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu {
    grid-area: menu;
    background-color: brown;
    color: white;
    padding: 1em;
}


.filtro {
    grid-area: filtro;
    background-color: rgb(223, 116, 116);
    display: flex;
    flex-direction: column;
    padding: 1em;
    text-align: center;
    margin-bottom: 0.5em;
}

.grid {
    grid-area: grid;
    gap: 15px;
    text-align: center;

}

.producto {
    display: flex;
    flex-direction: column;
    border: solid 1.5px rgb(173, 172, 173);
}


.numeros {
    grid-area: numeros;
    display: flex;
    justify-content: center;
    align-items: center;

}

.numeros p {
    border: solid 2px gray;
    text-align: center;
    flex-grow: 0.03;
}

button {
    color: white;
    background-color: rgb(223, 98, 98);
    font-size: large;

}

footer {
    grid-area: footer;
    background-color: rgb(223, 116, 116);
    padding: 0.5em;
    text-align: center;
    color: white;
}

@media (max-width:576px) {
    .categorias {
        display: none;
    }
}

@media (max-width:576px) {
    .producto {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (min-width:577px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width:768px) {
    .container {
        display: grid;
        grid-template-areas:
            "menu filtro"
            "menu grid"
            "footer numeros";
    }
}


@media (min-width:768px) {
    .grid {
        padding: 0.5em;
        margin: 0;
    }

}